- var rand = function(num) {
-  return Math.floor(Math.random() * (0 - num) + num);
- }

#wrapper(style='display:grid')
  #block
    .face.right
      - for (var i = 0; i < 100; ++i) {
        .pixel(class='dirt-' + rand(4))
      - }
      .side
        .inner
          - for (var i = 0; i < 20; ++i) {
            .pixel(class='grass-' + rand(4))(class='side-' + rand(3))(class='grass-' + rand(4))
          - }
          - for (var i = 0; i < 20; ++i) {
            .pixel(class='grass-' + rand(4))(class='side-' + rand(4))(class='grass-' + rand(4))
          - }
    .face.left
      - for (var i = 0; i < 100; ++i) {
        .pixel(class='dirt-' + rand(4))
      - }
      .side
        .inner
          - for (var i = 0; i < 20; ++i) {
            .pixel(class='grass-' + rand(4))(class='side-' + rand(3))(class='grass-' + rand(4))
          - }
          - for (var i = 0; i < 20; ++i) {
            .pixel(class='grass-' + rand(4))(class='side-' + rand(4))(class='grass-' + rand(4))
          - }
    .face.top
      - for (var i = 0; i < 100; ++i) {
        .pixel(class='grass-' + rand(4))(class='lvl-' + rand(3))
      - }
